<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.snowolf.chipmunk.dao.LoanDetailDao">
  <resultMap
    id="LoanDetailMap"
    type="org.snowolf.chipmunk.domain.LoanDetail"
  >
    <id
      column="id"
      jdbcType="BIGINT"
      property="id"/>
    <result
      column="plan_id"
      jdbcType="INTEGER"
      property="loanPlan.id"/>
    <result
      column="loop_num"
      jdbcType="INTEGER"
      property="loopNum"/>
    <result
      column="payment_date"
      jdbcType="DATE"
      property="paymentDate"/>
    <result
      column="principal"
      jdbcType="DECIMAL"
      property="principal"/>
    <result
      column="amount"
      jdbcType="DECIMAL"
      property="amount"/>
    <result
      column="interest"
      jdbcType="DECIMAL"
      property="interest"/>
    <result
      column="total_liabilities"
      jdbcType="DECIMAL"
      property="totalLiabilities"/>
  </resultMap>
  <select
    id="read"
    resultMap="LoanDetailMap"
  > <![CDATA[select * from loan_detail where id = #{id}]]>
  </select>
  <select
    id="readListByPlanId"
    resultMap="LoanDetailMap"
  > <![CDATA[select * from loan_detail where plan_id = #{planId}]]>
  </select>
  <insert
    id="create"
    parameterType="org.snowolf.chipmunk.domain.LoanDetail"
  ><![CDATA[insert into
		loan_detail (name, password ) 
		values (#{name,jdbcType=VARCHAR} , #{password,jdbcType=VARCHAR} )
		]]></insert>
  <delete
    id="delete"
    parameterType="java.lang.Long"
  > <![CDATA[delete from loan_detail where id = #{id}]]>
  </delete>
  <update
    id="update"
    parameterType="org.snowolf.chipmunk.domain.LoanDetail"
  >
    <![CDATA[update into loan_detail set name = #{name,jdbcType=VARCHAR} where id = #{id,jdbcType=BIGINT})]]>
  </update>
</mapper>